@tailwind base;
@tailwind components;
@tailwind utilities;

.title__word {
  font-family: 'Space Mono', monospace;
  font-size: clamp(3rem, 10vw, 10rem);
  color: white;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
}

.custom__container {
  width: 85%;
  margin: 0 auto;
  overflow-x: hidden;
}

nav {
  backdrop-filter: saturate(180%) blur(5px);
  background: hsla(0, 0%, 0%, 0.8);
  border-bottom: 1px solid rgb(26, 26, 26);
}

.thinGrayLine {
  width: 85%;
  height: 0.1em;
  background: hsl(0, 0%, 50%);
  transform: scaleY(0.5);
  margin: 0 auto;
  transform: translateY(-40px);
  z-index: 100;
}

.gray__bg {
  background-color: rgb(25, 25, 25);
}



.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 100px);
  gap: 1rem;
  column-gap: 6rem;
  justify-content: center;
  align-content: center;
  padding: 20px;
  box-sizing: border-box;
}

i {

  font-size: 4rem;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.custom__hidden_left {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.custom__hidden_right {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1s;
}


.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0);
}

.late {
  transition-delay: 400ms;
}

.card {
  transition: all 0.75s;
  box-shadow: 0 0 15px 2px #48abe0;
}

.card:hover {
  box-shadow: none;
}

.seperator {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid rgb(65, 65, 65);
  width: 85%;
  margin: 5rem auto;
  overflow-x: hidden;
}

.bg-dark__Gray{
  background-color: #0f0d0e;
}